<!DOCTYPE html>
<html>
<%- include("./header.ejs") %>


<body>
    <div>
        <div class="jumbotron text-info bg-light jumheight1">
            <a class="btnGo" href="/">Image Share</a>
        </div>
        <!-- 轮播图 -->
        <!-- 指示符 -->
        <div class="row">
            <div class="left">
                <div id="demo" class="carousel slide " data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <!-- 轮播图片 -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
                        </div>
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
                        </div>
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
                        </div>
                    </div>
                    <!-- 左右切换按钮 -->
                    <a href="#demo" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#demo" class="carousel-control-next" data-slide=next>
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="right">
                <!-- 登陆窗口 -->
                <div class="card">
                    <div class="xcc">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/users/login">
                                <table style="border-collapse: separate;border-spacing: 0px 10px;">
                                    <tr>
                                        <td class="margin-top:10">
                                            <label>Username: </label>
                                        </td>
                                        <td>
                                            <input type="text" name="username" class="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="pwd">Password:</label>
                                        </td>
                                        <td>
                                            <input type="password" name="password">
                                        </td>
                                    </tr>
                                </table>
                                <div class="footer">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <a href="/users/register" type="" class="btn btn-secondary">Registe</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>